@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Shadows+Into+Light&display=swap');

:root {
    --color-primary-0: #A85006;	/* Main Primary color */
    --color-primary-1: #E48C43;
    --color-primary-2: #CC6A18;
    --color-primary-3: #863D00;
    --color-primary-4: #5B2900;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { overflow-x: hidden; }

header {
    background-image: url(../assets/img/header-background\ -\ Copy.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#header-text { margin: auto 15px; }
#header-text h1 { font-family: 'Dancing Script'; }
#logo {
    width: 140px;
    height: 140px;
}
#nav {
    background-color: var(--color-primary-4);
    height: 2.78rem;
}
.nav-link:hover {
    background-color: var(--color-primary-3);
}

/* MENU CSS */

.container-check {
    border: 1px solid red;
}

menu {
    background-color: var(--color-primary-1);
} 


/* .text-inside {
    font-size: clamp(5px, 15px, 25px);
} */

#bev-bg {
    background-image: url('../assets/img/bev-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#bev-img {
    width: 300px;   
}

#food-bg {
    background-image: url('../assets/img/food-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#food-img {
    width: 300px;
}

#bev-menu {
    background-image: url(../assets/img/bevMenuBg.jpg);
}

#food-menu {
    background-image: url(../assets/img/bevMenuBg.jpg);
}

/* MENU CSS */

footer {
    background-color: var(--color-primary-4);
    height: 340px;
    display: block;
}
#footer-content { margin-top: 1.7rem; }
#media-social {
    background-color: #532601;
    height: 4.1rem;
}
#toggle_button {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    border-radius: 50px;
}
#expandButton {
    border-radius: 50px;
    padding: 9px;
    cursor: pointer;
}
#btn-text {
    max-width: 0;
    transition: max-width 1s;
    white-space: nowrap;
    font-size: 16px;
    color: var(--color-primary-4);
}

/* bikin web nya responsive! */
@media (max-width: 768px) {
    #carousel {
        padding: 0;
        margin: 0 auto;
    }
    #nav {
        height: 100%;
    }
}
