:root {
    --color-primary-0: #A85006;	/* Main Primary color */
    --color-primary-1: #E48C43;
    --color-primary-2: #CC6A18;
    --color-primary-3: #863D00;
    --color-primary-4: #5B2900;
    }

header {
    background-image: url(../assets/img/header-background\ -\ Copy.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 140px;
    height: 140px;
}
#nav {
    background-color: var(--color-primary-4);
}

#nav .nav-link:hover {
    background-color: #A85006;
}

#carousel {
    margin: 2rem auto;
    padding: 15px;
    border-radius: 10px;
    background-color: aqua;
}
#media-social {
    background-color: #532601;
    height: 4.1rem;
}
#words {
    background-color: #5B2900;
    z-index: 999;
    position: absolute;
    bottom: 3rem;
}
#words h2 {
    padding: 10px;
    color: #fff;
}

@media (max-width: 768px) {
    #carousel {
        padding: 0;
    }
}